@using Infocursos.Models
@{
    ViewBag.Title = "Curso";
}

<header class="masthead bg-primary text-white text-center" style="background-image: url(/Content/assets/img/Banners/backgroundPagPrincipal.jpg); background-repeat: no-repeat; background-size: cover; ">
    <!-- Contenedor para buscador web.-->
    <section class="page-section" id="Buscador">
        <div class="container" id="buscadorDiv">
            <!-- Buscador Section Form-->
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    @using (Html.BeginForm("BuscarCurso", "Curso", FormMethod.Post))
                    {
                        <form id="buscadorForm">
                            <div class="row g-3">
                                <!-- Name input-->
                                <div class="col-md-6">
                                    <div class="form-control">
                                        <label for="name">Buscar cursos de...</label>
                                        <input class="form-control" id="nombreCurso" type="text" name="nombreCurso" placeholder="Modalidad, Horario o palabra clave" value=@ViewData["buscadorFormNombreCurso"]>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-control">
                                        <label for="floatingSelectGrid">En...</label>
                                        @if (@ViewData["Provincia"] == null)
                                        {
                                            <div class="form-control">
                                                <p>@ViewBag.ErrorProvincias</p>
                                            </div>

                                        }
                                        @if (@ViewData["Provincia"] != null)
                                        {
                                            <select class="form-select" id="floatingSelectGrid" name="provincia">
                                                <option selected value="0">España</option>
                                                @foreach (var provincia in ViewData["Provincia"] as List<Infocursos.Models.Provincia>)
                                                {
                                                    <option value="@provincia.Nombre_provincia">@provincia.Nombre_provincia</option>
                                                }

                                            </select>
                                        }

                                    </div>
                                </div>
                                <!-- Submit Button-->
                                <div class="col-md-3">
                                    <button class="btn btn-primary btn-xl" id="submitButton" type="submit" value="BuscarCurso">buscar</button>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </section>
</header>

<div class="container" style="margin:5em;">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-3 mb-2">
                <div class="card mt-2 px-3">
                    <div class="form-check mt-3">
                        <h6>Categorias</h6>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check mt-3">
                        <h6>Modalidad</h6>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check mt-3">
                        <h6>Horarios</h6>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check mt-3">
                        <button class="btn btn-primary btn" id="submitButton" type="submit">Aplicar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">


                @if (Session["Cursos"] != null)
                {

                    foreach (Curso curso in (List<Curso>)Session["Cursos"])
                    {
                            <div class="card m-2">
                            <a href="/Curso/Curso?IdCurso=@curso.Id_curso" style="text-decoration:none">
                                <div class="card-body" id="divCurso">
                                    <div class="d-flex flex-column align-items-left text-left">
                                        <div class="mt-2">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <h6 class="mb-2">
                                                        <img src="~/Content/assets/img/Formador/defaultImg.png" alt="Admin" width="100">
                                                    </h6>
                                                </div>

                                                <div class="col-sm-9">
                                                    <h5>@curso.Curso_nombre</h5>
                                                    <div class="text-secondary">
                                                        Nombre empresa
                                                    </div>
                                                    <div class="text-secondary">
                                                        Horas totales: @curso.Horas_totales
                                                    </div>
                                                    <div class="text-secondary">
                                                        Fecha de inicio: @curso.Fecha_inicio - Fecha de finalicacion: @curso.Fecha_final
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>

                        }

                }
                else
                {
                    <div class="col-sm-9">
                        <h5>No se han encontrado cursos</h5>
                        <h5> @ViewBag.NombreCursoError</h5>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
