@model Infocursos.Models.Formador formador = (Infocursos.Models.Formador) ViewData["Formador"]
@{
    ViewBag.Title = "FormadorEditarPerfil";
}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Editar perfil de formador</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

    </div>
</header>
@using (Html.BeginForm("EditFormador", "Formador", FormMethod.Post))
{
    Html.AntiForgeryToken();
    Html.ValidationSummary(true, "", new { @class = "text-danger" });

    using (Html.BeginForm("UploadFile", "Formador", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            @Html.TextBox("file", "Formador", new { type = "file" }) <br />
            <input type="submit" value="Upload" />
            @ViewBag.Message
        </div>
    }
    
    <div class="form-group editar_perfil_formador">
        <label for="Nombre">Nombre</label>
        <div class="col-md-10">
            @Html.EditorFor(formador => formador.User_Nombre, new { htmlAttributes = new { @class = "form-control", @id = "Nombre", @placeholder = "Inserte nombre", @name = "Nombre" } })
            @Html.ValidationMessageFor(formador => formador.User_Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group editar_perfil_formador">
        <label for="Apellidos">Apellidos</label>
        <div class="col-md-10">
            @Html.EditorFor(formador => formador.User_Apellidos, new { htmlAttributes = new { @class = "form-control", @id = "Apellidos", @placeholder = "Inserte algun apellido", @name = "Apellidos" } })
            @Html.ValidationMessageFor(formador => formador.User_Apellidos, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group editar_perfil_formador">
        <label for="Entidad">Entidad</label>
        <div class="col-md-10">
            @Html.EditorFor(formador => formador.Nombre_Entidad, new { htmlAttributes = new { @class = "form-control", @id = "Entidad", @placeholder = "Escriba alguna entidad", @name = "Entidad" } })
            @Html.ValidationMessageFor(formador => formador.Nombre_Entidad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group editar_perfil_formador">
        <label for="Resumen">Resumen</label>
        <div class="col-md-10">
            @Html.TextAreaFor(formador => formador.User_Resumen, new { @class = "form-control", @rows = 3, @id = "Resumen", @placeholder = "Escriba un resumen", @name = "Resumen" })
            @Html.ValidationMessageFor(formador => formador.User_Resumen, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="form-group editar_perfil_formador">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary btn-md">Editar</button>
        </div>
    </div>
}
